.isi-datagrid-container {
  width: 100%;
  margin: 0 auto;
  padding: 18px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.isi-datagrid-container .isi-datagrid-search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;
}

.isi-datagrid-container .isi-datagrid-search input {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 300px;
}

.isi-datagrid-container .isi-datagrid-search input:focus {
  outline: none;
  border-color: burlywood;
}

/* .isi-datagrid-container .isi-datagrid-search .isi-search-button {
  padding: 12px 24px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-left: 8px;
  cursor: pointer;
  background-color: burlywood;
  color: black;
}

.isi-datagrid-container .isi-datagrid-search .isi-search-button:hover {
  background-color: rgb(204, 164, 111);
} */

.isi-datagrid-container table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.isi-datagrid-container th {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.isi-datagrid-container td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

.isi-datagrid-container tr:nth-child(even) {
  background-color: #e9ecf4;
}

.isi-datagrid-container tbody tr:hover {
  background-color: burlywood;
  color: white;
}

.isi-datagrid-container thead tr th {
  background-color: #e9ecf4;
  color: #333;
}

/* .isi-datagrid-container .isi-datagrid-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
} */