.isi-card {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  gap: 16px;
}

.isi-card .isi-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.isi-card .isi-card__body {
  display: flex;
  flex-direction: column;
}